# Python
.venv/
__pycache__/
*.pyc

# PyInstaller build artifacts
build/
dist/

# Game files - do not commit copyrighted content
*.STRINGS
*.DLSTRINGS
*.ILSTRINGS
*.ba2
*.BA2

# PyCharm
.idea/

# OS
Thumbs.db
desktop.ini